In [1]:
import pandas as pd
import numpy as np

## Creating test objects

In [2]:
df = pd.DataFrame(np.random.rand(20,5))
df

           0         1         2         3         4
0   0.343195  0.465307  0.201650  0.734449  0.143668
1   0.055896  0.504370  0.572837  0.779801  0.443086
2   0.884968  0.115824  0.626403  0.129314  0.862957
3   0.378103  0.047593  0.768805  0.634521  0.953810
4   0.263144  0.027093  0.612598  0.434155  0.692274
5   0.784629  0.744257  0.343366  0.869157  0.309270
6   0.892809  0.814781  0.436909  0.093580  0.970700
7   0.243772  0.728114  0.874238  0.388052  0.431509
8   0.155643  0.110806  0.191936  0.589364  0.285914
9   0.133692  0.141631  0.505967  0.909433  0.128433
10  0.401054  0.388438  0.538705  0.335084  0.512576
11  0.468926  0.179482  0.025048  0.959438  0.092300
12  0.556874  0.622545  0.387660  0.102743  0.101839
13  0.332011  0.283847  0.816082  0.863097  0.112966
14  0.163126  0.779488  0.470981  0.133781  0.774370
15  0.309029  0.738753  0.755493  0.974751  0.114020
16  0.837854  0.466570  0.938980  0.025001  0.070076
17  0.285951  0.518764  0.296090  0.778280  0.018629
18  0.061777  0.288356  0.978405  0.583165  0.066219
19  0.312321  0.899153  0.624064  0.296741  0.420015

In [3]:
s = pd.Series([2, 0, 0, 1, 2, 2, 1, 0, 0, 2])
s

0    2
1    0
2    0
3    1
4    2
5    2
6    1
7    0
8    0
9    2
dtype: int64

In [4]:
df.index = pd.date_range('1900/1/30', periods = df.shape[0])

In [5]:
df

                   0         1         2         3         4
1900-01-30  0.343195  0.465307  0.201650  0.734449  0.143668
1900-01-31  0.055896  0.504370  0.572837  0.779801  0.443086
1900-02-01  0.884968  0.115824  0.626403  0.129314  0.862957
1900-02-02  0.378103  0.047593  0.768805  0.634521  0.953810
1900-02-03  0.263144  0.027093  0.612598  0.434155  0.692274
1900-02-04  0.784629  0.744257  0.343366  0.869157  0.309270
1900-02-05  0.892809  0.814781  0.436909  0.093580  0.970700
1900-02-06  0.243772  0.728114  0.874238  0.388052  0.431509
1900-02-07  0.155643  0.110806  0.191936  0.589364  0.285914
1900-02-08  0.133692  0.141631  0.505967  0.909433  0.128433
1900-02-09  0.401054  0.388438  0.538705  0.335084  0.512576
1900-02-10  0.468926  0.179482  0.025048  0.959438  0.092300
1900-02-11  0.556874  0.622545  0.387660  0.102743  0.101839
1900-02-12  0.332011  0.283847  0.816082  0.863097  0.112966
1900-02-13  0.163126  0.779488  0.470981  0.133781  0.774370
1900-02-14  0.309029  0.738753  0.755493  0.974751  0.114020
1900-02-15  0.837854  0.466570  0.938980  0.025001  0.070076
1900-02-16  0.285951  0.518764  0.296090  0.778280  0.018629
1900-02-17  0.061777  0.288356  0.978405  0.583165  0.066219
1900-02-18  0.312321  0.899153  0.624064  0.296741  0.420015

## Viewing/inspecting data

In [19]:
df.head(3)

                   0         1         2         3         4
1900-01-30  0.576542  0.953127  0.415566  0.901673  0.652882
1900-01-31  0.749321  0.025129  0.269530  0.128950  0.962153
1900-02-01  0.230628  0.797473  0.594915  0.405735  0.076571

In [20]:
df.tail(3)

                   0         1         2         3         4
1900-02-16  0.722182  0.975297  0.745461  0.504961  0.743444
1900-02-17  0.077102  0.352045  0.256721  0.029071  0.713592
1900-02-18  0.635552  0.426284  0.323703  0.193522  0.889432

In [23]:
df.shape

(20, 5)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 1900-01-30 to 1900-02-18
Freq: D
Data columns (total 5 columns):
0    20 non-null float64
1    20 non-null float64
2    20 non-null float64
3    20 non-null float64
4    20 non-null float64
dtypes: float64(5)
memory usage: 960.0 bytes

In [25]:
df.describe()

               0          1          2          3          4
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.569114   0.518158   0.442348   0.430917   0.504384
std     0.283441   0.318021   0.311195   0.319317   0.324543
min     0.077102   0.007202   0.027869   0.018542   0.064571
25%     0.331872   0.303986   0.240631   0.159106   0.245670
50%     0.667678   0.434712   0.356204   0.413111   0.427541
75%     0.751424   0.803104   0.632551   0.671098   0.792806
max     0.963108   0.975297   0.980415   0.965435   0.989461

In [55]:
s.value_counts()

2    4
0    4
1    2
dtype: int64

## Selection

In [61]:
df[0]

1900-01-30    0.576542
1900-01-31    0.749321
1900-02-01    0.230628
1900-02-02    0.484467
1900-02-03    0.096460
1900-02-04    0.345418
1900-02-05    0.291231
1900-02-06    0.724615
1900-02-07    0.790920
1900-02-08    0.855695
1900-02-09    0.963108
1900-02-10    0.089368
1900-02-11    0.757732
1900-02-12    0.672784
1900-02-13    0.931461
1900-02-14    0.662571
1900-02-15    0.725127
1900-02-16    0.722182
1900-02-17    0.077102
1900-02-18    0.635552
Freq: D, Name: 0, dtype: float64

In [65]:
df[[0, 1]]

                   0         1
1900-01-30  0.576542  0.953127
1900-01-31  0.749321  0.025129
1900-02-01  0.230628  0.797473
1900-02-02  0.484467  0.334072
1900-02-03  0.096460  0.213725
1900-02-04  0.345418  0.922343
1900-02-05  0.291231  0.211566
1900-02-06  0.724615  0.893387
1900-02-07  0.790920  0.695920
1900-02-08  0.855695  0.788351
1900-02-09  0.963108  0.443141
1900-02-10  0.089368  0.345670
1900-02-11  0.757732  0.357792
1900-02-12  0.672784  0.007202
1900-02-13  0.931461  0.181319
1900-02-14  0.662571  0.619326
1900-02-15  0.725127  0.819997
1900-02-16  0.722182  0.975297
1900-02-17  0.077102  0.352045
1900-02-18  0.635552  0.426284

In [77]:
s.iloc[0] # Selection by position

2

In [67]:
s.loc[0] # Selection by index

2

In [76]:
df.iloc[0, :] # First row

0    0.576542
1    0.953127
2    0.415566
3    0.901673
4    0.652882
Name: 1900-01-30 00:00:00, dtype: float64

In [78]:
df.iloc[0,0] # First element of first column

0.57654195107645

## Data cleaning

In [79]:
df.columns = ['a', 'b', 'c', 'd','e']

In [80]:
df

                   a         b         c         d         e
1900-01-30  0.576542  0.953127  0.415566  0.901673  0.652882
1900-01-31  0.749321  0.025129  0.269530  0.128950  0.962153
1900-02-01  0.230628  0.797473  0.594915  0.405735  0.076571
1900-02-02  0.484467  0.334072  0.148379  0.018542  0.885349
1900-02-03  0.096460  0.213725  0.075850  0.515208  0.484586
1900-02-04  0.345418  0.922343  0.912009  0.215688  0.067122
1900-02-05  0.291231  0.211566  0.837510  0.776323  0.248621
1900-02-06  0.724615  0.893387  0.979704  0.924215  0.187090
1900-02-07  0.790920  0.695920  0.250365  0.631010  0.303936
1900-02-08  0.855695  0.788351  0.536082  0.965435  0.370497
1900-02-09  0.963108  0.443141  0.065280  0.079146  0.236814
1900-02-10  0.089368  0.345670  0.980415  0.249142  0.256313
1900-02-11  0.757732  0.357792  0.211428  0.643723  0.777070
1900-02-12  0.672784  0.007202  0.388706  0.169159  0.840013
1900-02-13  0.931461  0.181319  0.027869  0.753223  0.989461
1900-02-14  0.662571  0.619326  0.251656  0.093130  0.064571
1900-02-15  0.725127  0.819997  0.575803  0.420486  0.338158
1900-02-16  0.722182  0.975297  0.745461  0.504961  0.743444
1900-02-17  0.077102  0.352045  0.256721  0.029071  0.713592
1900-02-18  0.635552  0.426284  0.323703  0.193522  0.889432

In [81]:
pd.isnull(df)

                a      b      c      d      e
1900-01-30  False  False  False  False  False
1900-01-31  False  False  False  False  False
1900-02-01  False  False  False  False  False
1900-02-02  False  False  False  False  False
1900-02-03  False  False  False  False  False
1900-02-04  False  False  False  False  False
1900-02-05  False  False  False  False  False
1900-02-06  False  False  False  False  False
1900-02-07  False  False  False  False  False
1900-02-08  False  False  False  False  False
1900-02-09  False  False  False  False  False
1900-02-10  False  False  False  False  False
1900-02-11  False  False  False  False  False
1900-02-12  False  False  False  False  False
1900-02-13  False  False  False  False  False
1900-02-14  False  False  False  False  False
1900-02-15  False  False  False  False  False
1900-02-16  False  False  False  False  False
1900-02-17  False  False  False  False  False
1900-02-18  False  False  False  False  False

In [82]:
pd.notnull(df)

               a     b     c     d     e
1900-01-30  True  True  True  True  True
1900-01-31  True  True  True  True  True
1900-02-01  True  True  True  True  True
1900-02-02  True  True  True  True  True
1900-02-03  True  True  True  True  True
1900-02-04  True  True  True  True  True
1900-02-05  True  True  True  True  True
1900-02-06  True  True  True  True  True
1900-02-07  True  True  True  True  True
1900-02-08  True  True  True  True  True
1900-02-09  True  True  True  True  True
1900-02-10  True  True  True  True  True
1900-02-11  True  True  True  True  True
1900-02-12  True  True  True  True  True
1900-02-13  True  True  True  True  True
1900-02-14  True  True  True  True  True
1900-02-15  True  True  True  True  True
1900-02-16  True  True  True  True  True
1900-02-17  True  True  True  True  True
1900-02-18  True  True  True  True  True

## Join/combine

In [83]:
df.append(df) # adds the rows in df1 to the end of df2 (columns should be identical)

                   a         b         c         d         e
1900-01-30  0.576542  0.953127  0.415566  0.901673  0.652882
1900-01-31  0.749321  0.025129  0.269530  0.128950  0.962153
1900-02-01  0.230628  0.797473  0.594915  0.405735  0.076571
1900-02-02  0.484467  0.334072  0.148379  0.018542  0.885349
1900-02-03  0.096460  0.213725  0.075850  0.515208  0.484586
1900-02-04  0.345418  0.922343  0.912009  0.215688  0.067122
1900-02-05  0.291231  0.211566  0.837510  0.776323  0.248621
1900-02-06  0.724615  0.893387  0.979704  0.924215  0.187090
1900-02-07  0.790920  0.695920  0.250365  0.631010  0.303936
1900-02-08  0.855695  0.788351  0.536082  0.965435  0.370497
1900-02-09  0.963108  0.443141  0.065280  0.079146  0.236814
1900-02-10  0.089368  0.345670  0.980415  0.249142  0.256313
1900-02-11  0.757732  0.357792  0.211428  0.643723  0.777070
1900-02-12  0.672784  0.007202  0.388706  0.169159  0.840013
1900-02-13  0.931461  0.181319  0.027869  0.753223  0.989461
1900-02-14  0.662571  0.619326  0.251656  0.093130  0.064571
1900-02-15  0.725127  0.819997  0.575803  0.420486  0.338158
1900-02-16  0.722182  0.975297  0.745461  0.504961  0.743444
1900-02-17  0.077102  0.352045  0.256721  0.029071  0.713592
1900-02-18  0.635552  0.426284  0.323703  0.193522  0.889432
1900-01-30  0.576542  0.953127  0.415566  0.901673  0.652882
1900-01-31  0.749321  0.025129  0.269530  0.128950  0.962153
1900-02-01  0.230628  0.797473  0.594915  0.405735  0.076571
1900-02-02  0.484467  0.334072  0.148379  0.018542  0.885349
1900-02-03  0.096460  0.213725  0.075850  0.515208  0.484586
1900-02-04  0.345418  0.922343  0.912009  0.215688  0.067122
1900-02-05  0.291231  0.211566  0.837510  0.776323  0.248621
1900-02-06  0.724615  0.893387  0.979704  0.924215  0.187090
1900-02-07  0.790920  0.695920  0.250365  0.631010  0.303936
1900-02-08  0.855695  0.788351  0.536082  0.965435  0.370497
1900-02-09  0.963108  0.443141  0.065280  0.079146  0.236814
1900-02-10  0.089368  0.345670  0.980415  0.249142  0.256313
1900-02-11  0.757732  0.357792  0.211428  0.643723  0.777070
1900-02-12  0.672784  0.007202  0.388706  0.169159  0.840013
1900-02-13  0.931461  0.181319  0.027869  0.753223  0.989461
1900-02-14  0.662571  0.619326  0.251656  0.093130  0.064571
1900-02-15  0.725127  0.819997  0.575803  0.420486  0.338158
1900-02-16  0.722182  0.975297  0.745461  0.504961  0.743444
1900-02-17  0.077102  0.352045  0.256721  0.029071  0.713592
1900-02-18  0.635552  0.426284  0.323703  0.193522  0.889432

In [86]:
pd.concat([df, df], axis= 1) # Adds the columns in df1 to the end of df2 (rows should be identitical)

,a,b,c,d,e,a,b,c,d,e
1900-01-30,0.576542,0.953127,0.415566,0.901673,0.652882,0.576542,0.953127,0.415566,0.901673,0.652882
1900-01-31,0.749321,0.025129,0.269530,0.128950,0.962153,0.749321,0.025129,0.269530,0.128950,0.962153
1900-02-01,0.230628,0.797473,0.594915,0.405735,0.076571,0.230628,0.797473,0.594915,0.405735,0.076571
1900-02-02,0.484467,0.334072,0.148379,0.018542,0.885349,0.484467,0.334072,0.148379,0.018542,0.885349
1900-02-03,0.096460,0.213725,0.075850,0.515208,0.484586,0.096460,0.213725,0.075850,0.515208,0.484586
1900-02-04,0.345418,0.922343,0.912009,0.215688,0.067122,0.345418,0.922343,0.912009,0.215688,0.067122
1900-02-05,0.291231,0.211566,0.837510,0.776323,0.248621,0.291231,0.211566,0.837510,0.776323,0.248621
1900-02-06,0.724615,0.893387,0.979704,0.924215,0.187090,0.724615,0.893387,0.979704,0.924215,0.187090
1900-02-07,0.790920,0.695920,0.250365,0.631010,0.303936,0.790920,0.695920,0.250365,0.631010,0.303936
1900-02-08,0.855695,0.788351,0.536082,0.965435,0.370497,0.855695,0.788351,0.536082,0.965435,0.370497
1900-02-09,0.963108,0.443141,0.065280,0.079146,0.236814,0.963108,0.443141,0.065280,0.079146,0.236814
1900-02-10,0.089368,0.345670,0.980415,0.249142,0.256313,0.089368,0.345670,0.980415,0.249142,0.256313
1900-02-11,0.757732,0.357792,0.211428,0.643723,0.777070,0.757732,0.357792,0.211428,0.643723,0.777070
1900-02-12,0.672784,0.007202,0.388706,0.169159,0.840013,0.672784,0.007202,0.388706,0.169159,0.840013
1900-02-13,0.931461,0.181319,0.027869,0.753223,0.989461,0.931461,0.181319,0.027869,0.753223,0.989461
1900-02-14,0.662571,0.619326,0.251656,0.093130,0.064571,0.662571,0.619326,0.251656,0.093130,0.064571
1900-02-15,0.725127,0.819997,0.575803,0.420486,0.338158,0.725127,0.819997,0.575803,0.420486,0.338158
1900-02-16,0.722182,0.975297,0.745461,0.504961,0.743444,0.722182,0.975297,0.745461,0.504961,0.743444
1900-02-17,0.077102,0.352045,0.256721,0.029071,0.713592,0.077102,0.352045,0.256721,0.029071,0.713592
1900-02-18,0.635552,0.426284,0.323703,0.193522,0.889432,0.635552,0.426284,0.323703,0.193522,0.889432

## Statistics

In [87]:
df.describe()

               a          b          c          d          e
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.569114   0.518158   0.442348   0.430917   0.504384
std     0.283441   0.318021   0.311195   0.319317   0.324543
min     0.077102   0.007202   0.027869   0.018542   0.064571
25%     0.331872   0.303986   0.240631   0.159106   0.245670
50%     0.667678   0.434712   0.356204   0.413111   0.427541
75%     0.751424   0.803104   0.632551   0.671098   0.792806
max     0.963108   0.975297   0.980415   0.965435   0.989461

In [88]:
df.mean()

a    0.569114
b    0.518158
c    0.442348
d    0.430917
e    0.504384
dtype: float64

In [89]:
df.corr()

          a         b         c         d         e
a  1.000000  0.116411 -0.301366  0.242831  0.234594
b  0.116411  1.000000  0.470220  0.364327 -0.512566
c -0.301366  0.470220  1.000000  0.260912 -0.505011
d  0.242831  0.364327  0.260912  1.000000 -0.111980
e  0.234594 -0.512566 -0.505011 -0.111980  1.000000

In [90]:
df.count()

a    20
b    20
c    20
d    20
e    20
dtype: int64

In [91]:
df.max()

a    0.963108
b    0.975297
c    0.980415
d    0.965435
e    0.989461
dtype: float64

In [92]:
df.min()

a    0.077102
b    0.007202
c    0.027869
d    0.018542
e    0.064571
dtype: float64

In [93]:
df.median()

a    0.667678
b    0.434712
c    0.356204
d    0.413111
e    0.427541
dtype: float64

In [94]:
df.std()

a    0.283441
b    0.318021
c    0.311195
d    0.319317
e    0.324543
dtype: float64